.ses-primary {
  color: #007cc2 !important;
}

.ses-bg-secondary {
  background-color: #bec3c5;
}

.btn-primary {
  background-color: #007cc2 !important;
}

.btn-outline-primary {
  border-color: #007cc2 !important;
  color: #007cc2;
}

.btn-outline-primary:hover {
  background-color: #007cc2;
}

.ses-border {
  border: 1px solid #007cc2;
}

.ses-link-button {
  color: #007cc2;
  text-decoration: none;
  line-height: 20px;
}

.ses-link-button:hover {
  color: #FFF;
  text-decoration: none;
  line-height: 20px;
}

.ses-popup-container {
  border: 3px solid #007cc2;
  border-radius: 15px;
  background-color: #FFF;
  z-index: 990;
  position: fixed;
  top: 20%;
  left: 30%;
  width: 40%;
}

.ses-close-button {
  background-color: #DC3545;
  border-color: #DC3545;
  float: right;
  border-top-right-radius: 10px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  padding: 3px;
}

.ses-popup-content {
  margin: 2rem;
}

.navbar {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #0d6efd;
}